.lesson {
  justify-content: space-around;
}

.sidebar {
  margin-top: 137px;

  ul {
    padding: 0 0 10px 0;
    margin: 0;

    li {
      list-style: none;
    }

    :global {
      .lesson {
        padding: 20px 0;
        font-weight: 500;
      }

      li:not(.lesson) {
        border-top: 1px solid #d3d3d3;
      }      
    }

    a {
      display: block;
      padding: 5px 0;
      font-weight: 300;
    }

    :global(a.active) {
      font-weight: 400;
    }
  }

  @media screen and (max-width: 768px) {
    display: none;
  }
}