@accent: #d4271b;

@import url('https://fonts.googleapis.com/css?family=Roboto:300,400&subset=latin-ext');

* {
  box-sizing: border-box;
}

body, html {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 1.8;  
  font-weight: 300;
  background: white;    
}

body, html, th, td, tr, select, input, textarea, a,
h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto', Verdana, Geneva, Tahoma, sans-serif;    
  color: #333;
}

strong, b {
  font-weight: 400;
}

a {
  text-decoration: none;
  font-weight: 400;
}

h2 {
  font-size: 40px;
  font-weight: 400;
}

:global {
  .button {
    display: inline-block;
    background: @accent;
    color: white;
    padding: 10px 20px;
    border-radius: 4px;
    box-shadow: 1px 1px 2px #444;

    &:hover {
      box-shadow: none;
      position: relative;
      top: 1px;
      left: 1px;
    }
  }
}

p code {
  display: inline-block;
  padding: 1px 5px;
  background: #e7e7e7;
}

:global(.uwaga) {
  background: #fee3a7;
  padding: 15px;
  outline: 1px solid#fee3a7;
  border: 1px solid white;

  h4 {
    margin-top: 0;
  }

  p:last-child {
    margin-bottom: 0
  }
}